<?xml version="1.0" encoding="UTF-8" ?>                                                                                                                                                                                                       
<phpunit backupGlobals="false"
     backupStaticAttributes="false"
     bootstrap="vendor/autoload.php"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     processIsolation="false"
     printerClass="PHPUnit_Util_TestDox_ResultPrinter_Text"
     stopOnFailure="false"
     syntaxCheck="true"
     strict="true"
     colors="true">
    <testsuites>
        <testsuite name="functional">
            <directory suffix=".phpt">tests/functional</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/Arara/Process</directory>
        </whitelist>
    </filter>
</phpunit>
